.jumbotron {
height: 250px;
  background-image: url("../img/SW.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

body {
  background-color: lightgray;
}

          #all {
               position: absolute;
               top: 30%;
               left: 40%;
           }
           
           @keyframes vral {
               
               0% { 
                   transform: translate3d(0px, 0px, 0px);
                   transform: rotate(0deg);
               }
               
               50% {
                   transform: translate3d(400px, 100px, 0px);
                   transform: rotate(30deg);
               }
               
               100% {
                   transform: translate3d(0px, 0px, 0px);
                   transform: rotate(0deg);
               }
           }
           
           .luke {
               width: 100px;
               float: left;
               height: 400px;
               animation: vral 2s infinite;
               position: absolute;
               z-index: -200;
           }
           
             @keyframes nans {
               
               0% { 
                   transform: translate3d(0px, 0px, 0px);
                   transform: rotate(0deg);
               }
               
               50% {
                   transform: translate3d(400px, 100px, 0px);
                   transform: rotate(-30deg);
               }
               
               100% {
                   transform: translate3d(0px, 0px, 0px);
                   transform: rotate(0deg);
               }
           }
           
           .vader {
               margin-left: 60px;
             margin-top: 10px;
               width: 100px;
               height: 400px;
               animation: nans 2s infinite;
               z-index: -200;
           }
           